<<<<<<< HEAD
<<<<<<< HEAD
body{
  /* color: aquamarine; */
  background-color: silver;
}

/* p{
  color:purple
} */

.text{
  color:brown;
}

.list{
  color: rgb(0, 0, 0);
}
=======
>>>>>>> parent of 44407a0 (blue text, black bg)
=======
>>>>>>> parent of 44407a0 (blue text, black bg)
